.indexPlaylists {
    display: flex;
    width: 90%;
    height: 93.7vh;
    margin: 0 auto;
    flex-direction: column;
    /* background: #203647; */
}

.indexPlaylistsButtons {
    display: flex;
    background: rgba(102, 155, 188,.6);
    position: relative;
    padding: 20px;
}

.indexPlaylistsButtons button {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 50%;
    height: 50px;
}
.indexPlaylistsButtons button:first-child {
    border-radius: 10px 0 0 10px;
}
.indexPlaylistsButtons button:last-child {
    border-radius: 0 10px 10px 0;
}

.indexPlaylistsWines {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    background: #669bbc;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
.indexPlaylistsWines div {
    background: rgba(255,255,255,.4);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
}

.indexPlaylistsWines div button {
    width: 100%;
    background: #780000;
    border-radius: 15px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(0,0,0,.3);
}

.switchOn {
    background: #932432;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, #932432 50%, rgba(255,255,255,0) 50%);
    transition: all .3s ease-in-out;
    /* color: black; */
    font-size: 1.1em;
    pointer-events: none;
}
.switchOff {
    background: rgba(255,255,255,.5);
    background-size: 200% 100%;
    background-image: linear-gradient(to right,  rgba(255,255,255,0) 50%, #932432 50%);
    transition: all .3s ease-in-out;
}
.switch1 {
    background-position: 100% 0;
}
.switch2 {
    background-position: -100% 0;
}
.selected {
    box-shadow: 0 0 2px 2px white;
}