.indexPlaylists {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 20px;
}

.indexPlaylistsButtons {
    display: flex;
    background: #26495c;
    padding: 20px;
    border-radius: 20px 20px 0 0;

}

.indexPlaylistsButtons button {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 50%;
    height: 50px;
}
.indexPlaylistsButtons button:first-child {
    border-radius: 10px 0 0 10px;
}
.indexPlaylistsButtons button:last-child {
    border-radius: 0 10px 10px 0;
}

.indexPlaylistsWines {
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    background: rgba(38,73,92, .5);
    border-radius: 0 0 20px 20px;
    width: 100%;
    height: 60vh;
    overflow: scroll;
}
.indexPlaylistsWines div {
    background: rgba(255,255,255,.4);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
    width: 100%;
    border-radius: 15px;
    margin-bottom: 5px;
}

.indexPlaylistsWines div button {
    width: 100%;
    background: #17a2b8;
    border-radius: 15px;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid rgba(0,0,0,.3);
}

.switchOn {
    background: #94EBFF;
    color: black;
    font-size: 1.1em;
    transition: .5s;
}
.switchOff {
    background: rgba(255,255,255,.5);
    transition: .5s;
}
