.AuthPage {
    background: url("https://images.unsplash.com/photo-1516594915697-87eb3b1c14ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AuthPageContainer {
    width: 30%;
}

.SignUpSignInButton {
    margin: 0 auto;
    font-size: 16px;
    width: 30%;
}

.AuthPageSignUpSignIn {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background: rgba(255,255,255,.8);
    border-radius: 10px;
    padding: 15px;
}
.AuthPageSignUpSignIn span {
    font-size: 20px;
}

@media (max-width: 900px) {
    .AuthPageContainer {
        width: 90%;
    }
}