.indexPage {
    height: 93.7vh;

}

.indexPageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:  #003049;
    height: 93.7vh;
}

.indexPlaylists1, .showPlaylists {
    display: flex;
    height: 100%;
    justify-content: center;
}
.indexPageContainer .indexPlaylists1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
