.indexPage {
    padding: 50px;
    height: 100vh;
}

.indexPageContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.indexPlaylists, .showPlaylists {
    display: flex;
    justify-content: center;
}
.indexPageContainer .indexPlaylists {
    width: 90%;
}
